<!DOCTYPE html>
<html>
<head>
  <title>UCSC Dining Hall Menus</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <style>
    body {
      font-family: arial, san-serif;
      {% if not error %}
      display: none;
      {% endif %}
    }

    a:visited {
      color: blue;
    }

    .favorite {
      font-weight: bold;
      background-color: purple;
      color: white;
    }

    .matched {
      background-color: aqua;
      color: black;
    }

    .nodec {
      text-decoration: none;
    }

    .mark {
      text-decoration: none;
      border: 0.5px solid blue;
      font-size: 0.6rem;
      padding-top: 0.1rem;
      padding-bottom: 0.1rem;
      padding-left: 0.3rem;
      padding-right: 0.3rem;
      border-radius: 0.6rem;
      position: relative;
      top: -0.1rem;
    }

    .hours-url,.hours-url:visited {
        font-size: 0.8rem;
        font-weight: normal;
    }

    div.p {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .ordered {
      display: flex;
      flex-direction: column;
    }
    .hall-order-40 { background-color: #E7FFFF; }
    .hall-order-05 { background-color: #FFE7E7; }
    .hall-order-20 { background-color: #E7FFE7; }
    .hall-order-25 { background-color: #E7E7FF; }

    ul.filter {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    ul.filter>* {
      font-size: 0.8rem;
      display: inline-block;
      white-space: nowrap;
    }
    .date-item {
      width: 110px;
    }
    .hall-item {
      width: 225px;
    }
    .meal-item {
      width: 90px;
    }
    .diet-item {
      width: 90px;
    }

    ul.legend {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    #scrollbox-container {
      position: relative;
    }
    #scrollbox-arrow-placement {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
    }
    #scrollbox-arrow {
      position: sticky;
      top: 0;
    }
    #scrollbox {
      overflow-x: scroll;
    }
    #tree {
      border-left: 1px solid black;
    }

    #ignored-foods {
      padding-left: 1rem;
      list-style: none;
      display: none;
    }

    #favorite-foods {
      padding-left: 1rem;
      list-style: none;
      display: none;
    }

    ul.inner {
      padding-left: 1rem;
      list-style: none;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
    ul.leaf {
      padding-left: 1rem;
      list-style: none;
    }

    .r-date {
      font-size: 1.5rem;
      font-weight: bold;
      border-right: 1px solid black;
      padding-right: 0.5rem;
      padding-left: 0.3rem;
    }
    .r-hall {
      margin-top: 0.5rem;
      font-size: 1.2rem;
      font-weight: bold;
      padding: 0.25rem;
    }
    .r-meal {
      font-size: 1rem;
    }
    .r-cat {
      font-weight: normal;
      color: gray;
    }
    .r-food {
      font-weight: normal;
      color: black;
      font-size: 0.8rem;
    }
  </style>
</head>
<body>
{% include 'header.html' %}

{% if error %}
  <h1>Error. <a href="/">Go Home</a></h1>
  <pre>{{ error }}</pre>
{% else %}

<div class="p" id="filters-show">
  <a href="#" onclick="return toggle('filters', 1);">Show Filters</a>
  <a href="/" onclick="return resetAll();" class="mark">reset all filters</a>

  <div class="p">
    <ul class="filter">
      <li class="filter-item" id="dates-summary"></li>
      <li class="filter-item" id="halls-summary"></li>
      <li class="filter-item" id="meals-summary"></li>
      <li class="filter-item" id="ignored-summary"></li>
      <li class="filter-item" id="favorites-summary"></li>
      <li class="filter-item" id="favorites-only-summary">• Only show favorites</li>
      <li class="filter-item" id="search-summary"></li>
    </ul>
  </div>
</div>

<div id="filters-hide" style="display: none;">
  <div class="p">
    <a href="#" onclick="return toggle('filters', 0);">Hide Filters</a>
    <a href="/" onclick="return resetAll();" class="mark">reset all filters</a>
  </div>

  <div class="p">
    Filter Dates:
    <a href="#" onclick="return checkBoxes('date-item-checkbox', 1);">check all</a>
    |
    <a href="#" onclick="return checkBoxes('date-item-checkbox', 0);">uncheck all</a>
    <ul class="filter">
      {% for date in calendar %}
        <li class="date-item">
          <input type="checkbox" checked="1" class="r-filter date-item-checkbox" id="date-{{ strftime(date.date, '%Y%m%d') }}" value="1">
          <label for="date-{{ strftime(date.date, '%Y%m%d') }}">{{ strftime(date.date, '%a, %b %-d') }}</label>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="p">
    Filter/Reorder Dining Halls:
    <a href="#" onclick="return checkBoxes('hall-item-checkbox', 1);">check all</a>
    |
    <a href="#" onclick="return checkBoxes('hall-item-checkbox', 0);">uncheck all</a>
    <ul class="filter ordered">
      {% for hall in halls %}
        <li class="hall-item hall-order-{{ hall.code }}" data-code="{{ hall.code }}">
          <a href="#" id="down-{{ hall.code }}" onclick="return changeOrder('{{ hall.code}}', 1)" class="nodec">▼</a>
          <a href="#" id="up-{{ hall.code }}" onclick="return changeOrder('{{ hall.code}}', -1)" class="nodec">▲</a>
          <input type="checkbox" checked="1" class="r-filter hall-item-checkbox" id="hall-{{ hall.code }}" value="1">
          <label for="hall-{{ hall.code }}">{{ hall.name }}</label>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="p">
    Filter Meals:
    <a href="#" onclick="return checkBoxes('meal-item-checkbox', 1);">check all</a>
    |
    <a href="#" onclick="return checkBoxes('meal-item-checkbox', 0);">uncheck all</a>
    <ul class="filter">
      {% for m in all_meals %}
        <li class="meal-item">
          <input type="checkbox" checked="1" class="r-filter meal-item-checkbox" id="meal-{{ meals_lookup[m] }}" value="1">
          <label for="meal-{{ meals_lookup[m] }}">{{ m }}</label>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="p">
    Ignored Foods: <span id="ignored-count"></span>
    <a href="#" onclick="return toggle('ignored-foods', 1);" id="ignored-foods-show">show</a>
    <a href="#" onclick="return toggle('ignored-foods', 0);" id="ignored-foods-hide" style="display: none;">hide</a>
    <a href="#" onclick="return resetMarks('skipped_foods');" class="mark">clear all</a>
    <ul id="ignored-foods">
    </ul>
  </div>

  <div class="p">
    <span class="favorite">Favorite</span> Foods: <span id="favorite-count"></span>
    <a href="#" onclick="return toggle('favorite-foods', 1);" id="favorite-foods-show">show</a>
    <a href="#" onclick="return toggle('favorite-foods', 0);" id="favorite-foods-hide" style="display: none;">hide</a>
    <a href="#" onclick="return resetMarks('favorite_foods');" class="mark">clear all</a>
    <ul id="favorite-foods">
    </ul>
  </div>

  <div class="p">
    <input type="checkbox" value="1" class="r-filter" id="favorites-only"><label for="favorites-only">Only show favorite foods</label>
  </div>

  <div class="p">
    Search: <input type="text" id="r-search">
  </div>
</div>

<div id="scrollbox-container">
  <div id="scrollbox-arrow-placement">
    <div id="scrollbox-arrow">
      ➡️
    </div>
  </div>
  <div id="scrollbox">
    <table id="tree">
      <tr>
        {% for date in calendar %}
          <td valign="top" nowrap="1" cellpadding="0" cellspacing="0" class="r-date" data-checkbox="date-{{ strftime(date.date, '%Y%m%d') }}">
            <label data-orig="{{ strftime(date.date, '%a, %b %-d') }}">
              {{ strftime(date.date, '%a, %b %-d') }}
            </label>
            <ul class="inner ordered">
              {% for hall in date.halls %}
                <li class="r-hall hall-order-{{ hall.code }}" data-checkbox="hall-{{ hall.code }}">
                  <label data-orig="{{ hall.name }}">
                    {{ hall.name }}
                  </label>
                  <a class="hours-url" href="{{ hall.hours_url }}">Hours</a>
                  <ul class="inner">
                    {% for meal in hall.meals %}
                      <li class="r-meal" data-checkbox="meal-{{ meals_lookup[meal.meal] }}">
                        <label data-orig="{{ meal.meal }}">{{ meal.meal }}</label>
                        <ul class="inner">
                          {% for cat in meal.cats %}
                            <li class="r-cat">
                              <label data-orig="{{ cat.cat }}">{{ cat.cat }}</label>
                              <ul class="leaf">
                                {% for food in cat.foods %}
                                  <li class="r-food"
                                    data-hall="{{ hall.name }}"
                                    data-meal="{{ meal.meal }}"
                                    data-cat="{{ cat.cat }}"
                                    data-food="{{ food.name }}"
                                    {% for key in food.legend %}
                                      data-diet-{{ key }}="1"
                                    {% endfor %}
                                  >
                                    <span id="food-{{ food.idx }}-show">
                                      <a href="#" onclick='return toggle("food-{{ food.idx }}", 1);' class="nodec">➕</a>
                                    </span>
                                    <span id="food-{{ food.idx }}-hide" style="display: none;">
                                      <a href="#" onclick='return toggle("food-{{ food.idx }}", 0);' class="nodec">➖</a>
                                      <a href="#" onclick='return markFood({{ jsonify(food.name) }}, "skipped_foods");' class="mark">hide</a>
                                      <a href="#" onclick='return markFood({{ jsonify(food.name) }}, "favorite_foods");' class="mark fav-link">favorite</a>
                                    </span>
                                    <label data-orig="{{ food.name }}">{{ food.name }}</label>
                                    {% for key in food.legend %}
                                      {{ legend[key] or '❓<small>(' | safe + key + ')</small>' | safe }}
                                    {% endfor %}
                                  </li>
                                {% endfor %}
                              </ul>
                            </li>
                          {% endfor %}
                        </ul>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% endfor %}
            </ul>
          </td>
        {% endfor %}
      </tr>
    </table>
  </div>
</div>

<div class="p">
  Hide all:
  <ul class="filter">
    {% for key in legend %}
      <li class="diet-item">
        <a href="#" onclick="return markAll('{{ key }}', 'skipped_foods');" class="nodec">{{ legend[key] }} {{ key[0] | upper + key[1:] }}</a>
       </li>
    {% endfor %}
  </ul>
</div>

<div class="p">
  Favorite all:
  <ul class="filter">
    {% for key in legend %}
      <li class="diet-item">
        <a href="#" onclick="return markAll('{{ key }}', 'favorite_foods');" class="nodec">{{ legend[key] }} {{ key[0] | upper + key[1:] }}</a>
       </li>
    {% endfor %}
  </ul>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
  var updateFromCheckboxes = function(type, id, text, prefix) {
    var total = 0;
    var checked = 0;
    $('.' + type + '-item-checkbox').each(function() {
      total++;
      checked += this.checked ? 1 : 0;
    });
    if (checked < total) {
      $('#' + id).html(prefix + checked + '/' + total + ' ' + text);
      $('#' + id).show();
    } else {
      $('#' + id).html('');
      $('#' + id).hide();
    }
  };

  var updateSummary = function() {
    updateFromCheckboxes('date', 'dates-summary', 'Dates', '');
    updateFromCheckboxes('hall', 'halls-summary', 'Dining Halls', '• ');
    updateFromCheckboxes('meal', 'meals-summary', 'Meals', '• ');

    var ignored = markedList('skipped_foods').length;
    if (ignored > 0) {
      $('#ignored-summary').html('• Ignored Foods: ' + ignored);
      $('#ignored-summary').show();
    } else {
      $('#ignored-summary').html('');
      $('#ignored-summary').hide();
    }

    var favs = markedList('favorite_foods').length;
    if (favs > 0) {
      $('#favorites-summary').html('• Favorite Foods: ' + favs);
      $('#favorites-summary').show();
    } else {
      $('#favorites-summary').html('');
      $('#favorites-summary').hide();
    }

    var favs_only = $('#favorites-only').prop('checked');
    if (favs_only) {
      $('#favorites-only-summary').show();
    } else {
      $('#favorites-only-summary').hide();
    }

    var s = $('#r-search').val();
    if (s.length > 0) {
      $('#search-summary').html('• Contains "' + s + '"');
      $('#search-summary').show();
    } else {
      $('#search-summary').html('');
      $('#search-summary').hide();
    }

  };

  var updateSearch = function() {
    var s = $('#r-search').val();
    localStorage.setItem('search', s || '');

    var allChecked = {};
    $('input:checkbox').each(function () {
      if (this.checked) {
        allChecked[this.id] = 1;
      } else {
        allChecked[this.id] = 0;
      }
    });
    localStorage.setItem('checkboxes', JSON.stringify(allChecked));

    var skipped = JSON.parse(localStorage.getItem('skipped_foods') || "{}");
    var favs = JSON.parse(localStorage.getItem('favorite_foods') || "{}");
    var favs_only = $('#favorites-only').prop('checked');

    $('.r-food').each(function(i, el) {
      var name = $(el).data('hall') + '|' +
        $(el).data('meal') + '|' +
        $(el).data('cat') + '|' +
        $(el).data('food');
      if (skipped[$(el).data('food')] ||
        (s.length > 0 && !name.match(new RegExp(s, 'i'))) ||
        (favs_only && !favs[$(el).data('food')])
      ) {
        $(el).hide();
      } else {
        if (favs[$(el).data('food')]) {
          $(el).children('label').addClass('favorite');
          $(el).find('.fav-link').hide();
        } else {
          $(el).children('label').removeClass('favorite');
          $(el).find('.fav-link').show();
        }

        var orig = $(el).children('label').data('orig');
        var replaced = orig;

        if (s.length > 0) {
          replaced = orig.replace(new RegExp(s, 'gi'), function(m) {
            return '<span class="matched">' + m + '</span>'
          });
        }
        $(el).children('label').html(replaced);

        $(el).show();
      }
    });

    $('.r-cat').each(function(i, el) {
      var cnt = $(el).find('.r-food').filter(function() {
        return $(this).css('display') !== 'none';
      }).length;

      if (cnt == 0) {
        $(el).hide();
      } else {
        var orig = $(el).children('label').data('orig');
        var replaced = orig;

        if (s.length > 0) {
          replaced = orig.replace(new RegExp(s, 'gi'), function(m) {
            return '<span class="matched">' + m + '</span>'
          });
        }
        $(el).children('label').html(replaced);

        $(el).show();
      }
    });

    $('.r-meal').each(function(i, el) {
      var checkbox = $(el).data('checkbox');
      var checked = $('#' + checkbox).is(":checked");
      if (checked) {
        var cnt = $(el).find('.r-cat').filter(function() {
          return $(this).css('display') !== 'none';
        }).length;

        if (cnt == 0) {
          $(el).hide();
        } else {
          var orig = $(el).children('label').data('orig');
          var replaced = orig;

          if (s.length > 0) {
            replaced = orig.replace(new RegExp(s, 'gi'), function(m) {
              return '<span class="matched">' + m + '</span>'
            });
          }
          $(el).children('label').html(replaced);

          $(el).show();
        }
      } else {
        $(el).hide();
      }
    });

    $('.r-hall').each(function(i, el) {
      var checkbox = $(el).data('checkbox');
      var checked = $('#' + checkbox).is(":checked");
      if (checked) {
        var cnt = $(el).find('.r-meal').filter(function() {
          return $(this).css('display') !== 'none';
        }).length;

        if (cnt == 0) {
          $(el).hide();
        } else {
          var orig = $(el).children('label').data('orig');
          var replaced = orig;

          if (s.length > 0) {
            replaced = orig.replace(new RegExp(s, 'gi'), function(m) {
              return '<span class="matched">' + m + '</span>'
            });
          }
          $(el).children('label').html(replaced);

          $(el).show();
        }
      } else {
        $(el).hide();
      }
    });

    $('.r-date').each(function(i, el) {
      var checkbox = $(el).data('checkbox');
      var checked = $('#' + checkbox).is(":checked");
      if (checked) {
        var cnt = $(el).find('.r-hall').filter(function() {
          return $(this).css('display') !== 'none';
        }).length;

        if (cnt == 0) {
          $(el).hide();
        } else {
          $(el).show();
        }
      } else {
        $(el).hide();
      }
    });

    updateMarked();
    updateSummary();
    scrolling();
  };

  var checkBoxes = function(c, v) {
    $('.' + c).prop('checked', v);
    updateSearch();
    return false;
  };

  var resetMarks = function(key) {
    if (confirm('Are you sure?')) {
      localStorage.setItem(key, "{}");
      updateSearch();
    }
    return false;
  };

  var updateLocalMarks = function(f, key) {
    var marked = JSON.parse(localStorage.getItem(key) || "{}");
    marked[f] = 1;
    localStorage.setItem(key, JSON.stringify(marked));

    var other_set = key == 'skipped_foods' ? 'favorite_foods' : 'skipped_foods';
    var other = JSON.parse(localStorage.getItem(other_set) || "{}");
    if (other[f]) {
      delete(other[f]);
      localStorage.setItem(other_set, JSON.stringify(other));
    }
  };

  var markFood = function(f, key) {
    updateLocalMarks(f, key);
    updateSearch();
    return false;
  };

  var markedList = function(key) {
    var marked = JSON.parse(localStorage.getItem(key) || "{}");
    return Object.keys(marked).sort();
  };

  var unmarkFood = function(key, i) {
    var restore = markedList(key)[i];
    var marked = JSON.parse(localStorage.getItem(key) || "{}");
    delete(marked[restore]);
    localStorage.setItem(key, JSON.stringify(marked));
    updateSearch();
    return false;
  };

  var updateMarked = function() {
    var skip = markedList('skipped_foods');
    $('#ignored-count').html(skip.length);

    var html = '';
    skip.forEach(function(food, i) {
      html += '<li><a href="#" onclick=\'return unmarkFood("skipped_foods", ' + i + ');\' class="mark">show</a> ' + food + '</li>';
    });
    $('#ignored-foods').html(html);

    var favs = markedList('favorite_foods');
    $('#favorite-count').html(favs.length);

    var html = '';
    favs.forEach(function(food, i) {
      html += '<li><a href="#" onclick=\'return unmarkFood("favorite_foods", ' + i + ');\' class="mark">unfavorite</a> ' + food + '</li>';
    });
    $('#favorite-foods').html(html);
  };

  var toggle = function(key, show) {
    if (show) {
      $('#' + key).show();
      $('#' + key + '-hide').show();
      $('#' + key + '-show').hide();
    } else {
      $('#' + key).hide();
      $('#' + key + '-hide').hide();
      $('#' + key + '-show').show();
    }

    return false;
  };

  var scrolling = function() {
    var hiddenPixels = $('#scrollbox')[0].scrollWidth - $('#scrollbox')[0].clientWidth;
    var fadePixels = $('#scrollbox')[0].clientWidth / 2;
    if (hiddenPixels < 0) {
      hiddenPixels = 0;
    } else if (hiddenPixels > fadePixels) {
      hiddenPixels = fadePixels;
    }

    if ($('#scrollbox').scrollLeft() >= hiddenPixels) {
      $('#scrollbox-arrow').css('opacity', '0.0');
    } else {
      var opacity = 1.0 - $('#scrollbox').scrollLeft() / hiddenPixels;
      $('#scrollbox-arrow').css('opacity', opacity);
    }
  };

  var forceScroll = function() {
    var fadePixels = $('#scrollbox')[0].clientWidth / 2;
    $('#scrollbox').animate({scrollLeft: fadePixels}, 500);
  };

  var markAll = function(diet, key) {
    $('.r-food').each(function(i, el) {
      var data_diet = $(el).data('diet-' + diet);
      var food = $(el).data('food');
      if (data_diet) {
        updateLocalMarks(food, key);
      }
    });
    updateSearch();
    return false;
  };

  var styleOrder = function(order) {
    var minKey;
    var minVal = Object.keys(order).length + 1;
    var maxKey;
    var maxVal = 0;
    Object.keys(order).forEach(function(key) {
      if (order[key] < minVal) {
        minVal = order[key];
        minKey = key;
      }
      if (order[key] > maxVal) {
        maxVal = order[key];
        maxKey = key;
      }
      $('.hall-order-' + key).css({order: order[key]});
      $('#up-' + key).css({visibility: 'visible'});
      $('#down-' + key).css({visibility: 'visible'});
    });
    $('#up-' + minKey).css({visibility: 'hidden'});
    $('#down-' + maxKey).css({visibility: 'hidden'});
  };

  var changeOrder = function(code, dir) {
    var order = JSON.parse(localStorage.getItem('hall_order') || "{}");
    var oldOrder = order[code];
    var newOrder = oldOrder + dir;

    Object.keys(order).forEach(function(key) {
      if (order[key] == newOrder) {
        order[key] = oldOrder;
      }
    });

    order[code] = newOrder;

    styleOrder(order);
    localStorage.setItem('hall_order', JSON.stringify(order));

    return false;
  };

  var setupOrder = function() {
    var order = JSON.parse(localStorage.getItem('hall_order') || "{}");
    var i = 1;
    var changed = 0;
    $('.hall-item').each(function() {
      var code = $(this).data('code');
      if (!order[code]) {
        changed++;
        order[code] = i;
      }
      i++;
    });
    if (changed) {
      localStorage.setItem('hall_order', JSON.stringify(order));
    }

    styleOrder(order);
  };

  var resetAll = function() {
    if (confirm('Are you sure?')) {
      localStorage.clear();
      return true;
    }
    return false;
  };

  $(document).ready(function() {
    $('#r-search').val(localStorage.getItem('search') || '');

    var allChecked = JSON.parse(localStorage.getItem('checkboxes') || "{}");
    $('input:checkbox').each(function () {
      if (allChecked[this.id] === 1) {
        $(this).prop('checked', 1);
      } else if (allChecked[this.id] === 0) {
        $(this).prop('checked', 0);
      }
    });

    $('#r-search').on('keyup', updateSearch);
    $('.r-filter').on('change', updateSearch);
    $('#scrollbox').on('scroll', scrolling);
    $('#scrollbox-arrow').on('click', forceScroll);

    setupOrder();
    updateSearch();
    $('body').show();
    scrolling();
  });
</script>

{% endif %}

{% include 'footer.html' %}
</body>
</html>
